<div class="page-header" data-ng-controller="HeaderController">

  <div class="left pull-left">
    <ul class="navbar-nav nav">
      <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
        <a class="buttonItemSelect" mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
      </li>
    </ul>
  </div>

  <div class="account">
    <div class="text-edit">
      <div class="pull-right" data-ng-show="global.authenticated" mean-token-editable></div>
      <div class="pull-right" data-ng-show="global.authenticated" mean-translate></div>
    </div>
    <ul class="navbar-nav nav" data-ng-hide="global.authenticated">
      <li><a class="buttonSelect" ui-sref='auth.register'>Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li><a class="buttonSelect" ui-sref='auth.login'>Log In</a>
      </li>
    </ul>
    <ul class="navbar-nav nav" data-ng-show="global.authenticated">
      <li class="dropdown">
        <a class="buttonAuthSelect" href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{global.user.name}} <b class="caret"></b>
        </a>
        <ul style="background: transparent" class="dropdown-menu">
          <li><a class="buttonSubAuthSelect"  href="/logout">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
