
<div class="landing" >
    <table style="height: 100%">
        <tr>
            <td>
                <div style="height: 300px; display: table-header-group;" class="col-md-6">
                    <img class="featurette-image img-responsive" style="min-height: 30px;" style="margin-top:0" src="/packages/system/public/assets/img/finePrintsLogo.png">
                </div>
                <div style="height: 300px; padding-top: 7%" class="col-md-6">
                    <h2 style="color: black">No more boring fine prints... Now, you are ready to read!</h2>
                    <p><a class="btn btn-lg btn-primary" href="#!/auth/register" role="button">Sign up today</a></p>
                </div>
            </td>
            <td>
                
            </td>
        </tr>
    </table>
    
    
                    
                    
</div>

<div class="container marketing" data-ng-controller="IndexController">
    <!-- FOOTER -->
    <footer>
        <p style="padding-right: 10px" class="pull-right"><a href="https://github.com/koding/global.hackathon/blob/master/Teams/AcklenAvenue/ABOUT.md" >A/A Team</a></p>
        <p>© 2014 Dynamic Fine Prints, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

</div>
