html {
    height: 100%;
}

body.login, body.register,  body.forgot-password {
    /*background: url("/theme/assets/img/bg.png");*/
    height: 100%;
    position: relative;
}
@font-face {
    font-family: 'futura_bkbook';
    src: url("/theme/assets/fonts/ufonts.com_futura-book.eot");
    src: url("/theme/assets/fonts/ufonts.com_futura-book.eot?#iefix") format("embedded-opentype"), url("/theme/assets/fonts/ufonts.com_futura-book.woff") format("woff"), url("/theme/assets/fonts/ufonts.com_futura-book.ttf") format("truetype"), url("/theme/assets/fonts/ufonts.com_futura-book.svg#futura_bkbook") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewregular';
    src: url("/theme/assets/fonts/opensanshebrew-regular.eot");
    src: url("/theme/assets/fonts/opensanshebrew-regular.eot?#iefix") format("embedded-opentype"), url("/theme/assets/fonts/opensanshebrew-regular.woff") format("woff"), url("/theme/assets/fonts/opensanshebrew-regular.ttf") format("truetype"), url("/theme/assets/fonts/opensanshebrew-regular.svg#open_sans_hebrewregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewlight';
    src: url("/theme/assets/fonts/opensanshebrew-light.eot");
    src: url("/theme/assets/fonts/opensanshebrew-light.eot?#iefix") format("embedded-opentype"), url("/theme/assets/fonts/opensanshebrew-light.woff") format("woff"), url("/theme/assets/fonts/opensanshebrew-light.ttf") format("truetype"), url("/theme/assets/fonts/opensanshebrew-light.svg#open_sans_hebrewlight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url("/theme/assets/fonts/mark_simonson_-_proxima_nova_regular.eot");
    src: url("/theme/assets/fonts/mark_simonson_-_proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("/theme/assets/fonts/mark_simonson_-_proxima_nova_regular.woff") format("woff"), url("/theme/assets/fonts/mark_simonson_-_proxima_nova_regular.ttf") format("truetype"), url("/theme/assets/fonts/mark_simonson_-_proxima_nova_regular.svg#proxima_nova_rgregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url("/theme/assets/fonts/proximanova-light.eot");
    src: url("/theme/assets/fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("/theme/assets/fonts/proximanova-light.woff") format("woff"), url("/theme/assets/fonts/proximanova-light.ttf") format("truetype"), url("/theme/assets/fonts/proximanova-light.svg#proxima_novalight") format("svg");
    font-weight: normal;
    font-style: normal;
}
.form {
    background: #4e5d6c;
    box-shadow: 0 1px 3px 1px #003644;
    margin-top: 70px;
    left: 50%;
    position: relative;
}

.main-form {
    width: 748px;
    height: 435px;
    margin-left: -374px;
}

.main-form.register-form {
    height: 600px;
}

.login-form__left {
    width: 440px;
    height: 100%;
    float: left;
    padding: 34px 0 0 27px;
}

.login-form__left h2, .forgot_password_form h2 {
    font-size: 30px;
    padding-bottom: 4px;
    font-family: "futura_bkbook";
    margin: 0;
    text-transform: uppercase;
}

.login-form__left p, .forgot_password_form p {
    font-size: 16px;
    font-family: 'proxima_nova_rgregular';
}

.main-form .input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.main-form .input-wrapper input {
    width: 401px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 18px 0 18px 16px;
    outline: none;
    font-size: 15px;
    font-family: 'proxima_nova_rgregular';
    line-height: 22px;
}

.main-form .input-wrapper input:invalid {
    box-shadow: none;
}

.main-form .input-wrapper input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.pic.email {
    position: absolute;
    background: url("/theme/assets/img/mail_login.png") no-repeat;
    width: 30px;
    height: 21px;
    top: 18px;
    right: 28px;
}

.pic.password {
    position: absolute;
    background: url("/theme/assets/img/eye_password.png") no-repeat 50% 50%;
    width: 40px;
    height: 30px;
    top: 16px;
    right: 22px;
    cursor: pointer;
}

.login-form__left .icon_hide_password {
    background: url("/theme/assets/img/eye_password_disabled.png") no-repeat 50% 50%;
    width: 40px;
    height: 30px;
    top: 16px;
    right: 22px;
}

.login-form__left .hide_text_password {
    display: none;
    position: absolute;
    line-height: 38px;
    width: 125px;
    height: 34px;
    bottom: 39px;
    right: -40px;
    background: #0588a0;
    text-align: center;
    border-radius: 5px;
    font-family: "proxima_nova_rgregular";
    color: white;
}

.login-form__left .hide_text_password:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    border-top: 10px solid #0588a0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -4px;
}

.pic.password:hover .hide_text_password {
    display: block;
}

.icon_hide_password:hover .hide_text_password {
    display: block;
}

.error_message {
    display: none;
    position: absolute;
    line-height: 29px;
    height: auto;
    bottom: 67px;
    left: 0;
    background: blue;
    text-align: center;
    border-radius: 3px;
    min-width: 30px;
    max-width: 150px;
}

.error_message:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    border-top: 10px solid blue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -4px;
}

.login-form__left .forgot_password {
    margin-top: -5px;
    margin-left: 8px;
}

.login-form__left .forgot_password a {
    font-size: 15px;
    color: #68a80c;
    text-decoration: none;
    font-family: "open_sans_hebrewregular";
}

.login-form__left .button_login {
    margin-top: 23px;
}

.submit_button {
    display: inline-block;
    border: none;
    cursor: pointer;
    background: url("/theme/assets/img/button_login.png") no-repeat 50% 50%;
    width: 107px;
    height: 47px;
    font-size: 21px;
    color: white;
    font-family: "open_sans_hebrewregular";
}

.submit_button:hover {
    background: url("/theme/assets/img/button_login_hover.png") no-repeat 50% 50%;
}

.submit_button:focus {
    outline: none;
}

.button_login p,
.button_send p,
.button_register p {
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
    font-family: "open_sans_hebrewregular";
    vertical-align: top;
    padding-top: 11px;
}

.button_send p {
    margin-left: 65px;
}

.button_register {
    margin-top: 25px;
}

.button_login a,
.button_send a,
.button_register a {
    display: inline-block;
    font-size: 15px;
    color: #68a80c;
    text-decoration: none;
    margin-left: 1px;
    padding-top: 11px;
    vertical-align: top;
    font-family: "open_sans_hebrewregular";
}

.login-form__center {
    height: 100%;
    float: left;
    background: url("/theme/assets/img/devide_line.png") no-repeat 50% 30%;
    padding: 0 10px;
}

.register-form .login-form__center {
    margin-top: 38px;
    background: url("/theme/assets/img/devide_line_long.png") no-repeat 50% 0;
}

.login-form__center p {
    margin-top: 155px;
    font-family: 'proxima_novalight';
    font-size: 16px;
}

.register-form .login-form__center p {
    margin-top: 227px;
}

.login-form__right {
    height: 100%;
    float: left;
    width: 270px;
    padding-left: 26px;
}
.login-form__right .social_wrap {
    width: 235px;
    height: 270px;
    margin-top: 36px;
    padding-left: 0;
    display: block;
    position:relative;
}

.register-form .login-form__right .social_wrap {
    height: 483px;
}

.login-form__right .bigger {
    height: 345px;
    margin-top: 35px;
}

.login-form__right .bigger .social {
    top: inherit;
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}

.login-form__right .social {
    margin: 0;
    padding-left: 0;
    display: block;
    list-style:none;
    position:absolute;
    top:50%;
    left:0;
    right:0;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -webkit-transform: translate(0, -50%); /* Chrome, Safari, Opera */
    transform: translate(0, -50%);
}

.login-form__right .social_icon {
    width: 230px;
    height: 60px;
    border: 1px solid #e1e1e0;
    border-radius: 5px;
    margin-bottom: 10px;
    list-style-type: none;
    vertical-align: middle;
    display: inline-block;
}

.login-form__right .social_icon:hover {
    background: #f1f1f1;
}

.login-form__right .social_icon .button {
    display: block;
    text-decoration: none;
    padding: 22px 0 22px 60px;
    line-height: 1;
    color: #959595;
    position: relative;
}

.login-form__right .social_icon .button:active {
    color: #959595;
}

.login-form__right .social_icon .button span {
    font-size: 15px;
    font-family: 'open_sans_hebrewlight';
}

.login-form__right .social_icon .button span:visited {
    color: #959595;
}

.login-form__right .social_icon_in .button:before {
    content: '';
    position: absolute;
    background: url("/theme/assets/img/social_in.png") no-repeat 50% 50%;
    width: 50px;
    height: 47px;
    top: 10px;
    left: 0;
}

.login-form__right .social_icon_fb .button:before {
    content: '';
    position: absolute;
    background: url("/theme/assets/img/social_fb.png") no-repeat 50% 50%;
    width: 41px;
    height: 40px;
    top: 10px;
    left: 8px;
}

.login-form__right .social_icon_gh .button:before {
    content: '';
    position: absolute;
    background: url("/theme/assets/img/social_github.png") no-repeat 50% 50%;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 8px;
}

.login-form__right .social_icon_tw .button:before {
    content: '';
    position: absolute;
    background: url("/theme/assets/img/social_tw.png") no-repeat 50% 50%;
    width: 40px;
    height: 41px;
    top: 10px;
    left: 8px;
}

.login-form__right .social_icon_google .button:before {
    content: '';
    position: absolute;
    background: url("/theme/assets/img/social_g+.png") no-repeat 50% 50%;
    width: 40px;
    height: 41px;
    top: 10px;
    left: 8px;
}

.woman_ninja_bottom {
    position: absolute;
    left: 21%;
    pointer-events: none;
}

.woman_ninja_left {
    position: absolute;
    top: 75px;
    left: -410px;
    pointer-events: none;
}

.registration_form {
    width: 440px;
    float: left;
    margin-right: 10px;
}

.forgot_password_form {
    padding: 34px 27px;
    min-height: 280px;
    height: auto;
    width: 465px;
    margin-left: -232px;
}
