<section data-ng-controller="FinePrintsController">
  <form style="margin-left: 10px; width: 100%" name="finePrintsForm" class="form-horizontal col-md-6" role="form" data-ng-submit="create(finePrintsForm.$valid)" novalidate>
  <div ng-switch="step">
      <div ng-switch-when="1">
        <div class="form-group" ng-class="{ 'has-error' : $parent.submitted && $parent.finePrints.title.$invalid }">
          <label style="color: black; font-weight: bold; font-size: 20px" mean-token="'create-title'">Title</label>
          <div style="padding-right: 20px">
            <input style="border: 1px solid gray;" name="title" type="text" class="form-control" data-ng-model="$parent.title" id="title" placeholder="Title" required>
            <div ng-show="$parent.submitted && $parent.finePrintsForm.title.$invalid" class="help-block">
              <p style="color:red" ng-show="finePrintsForm.title.$error.required">Title is required</p>
            </div>
          </div>
        </div>
        <div class ="form-group">
          <label style="color: black; font-weight: bold; font-size: 20px">Select Layout</label>
          <table>
            <tr>
              <td>
                <div class="radio">
                  <label>
                    <input type="radio" name="firstLayout" value="FirstLayout" ng-model="$parent.layoutData">
                    <img src="/packages/custom/fine-prints/public/assets/img/firstLayout.png" style="width: 65px; height: 50px;margin-right: 20px; margin-bottom: 20px;">
                  </label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label>
                    <input type="radio" name="secondLayout" value="SecondLayout" ng-model="$parent.layoutData">
                    <img src="/packages/custom/fine-prints/public/assets/img/secondLayout.png" style="width: 65px; height: 50px;margin-right: 20px; margin-bottom: 20px;">
                  </label>
              </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="radio">
                  <label>
                    <input type="radio" name="thirdLayout" value="ThirdLayout" ng-model="$parent.layoutData">
                    <img src="/packages/custom/fine-prints/public/assets/img/thirdLayout.png" style="width: 65px; height: 50px;margin-right: 20px; margin-bottom: 20px;">
                  </label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label>
                    <input type="radio" name="fourthLayout" value="FourthLayout" ng-model="$parent.layoutData">
                    <img src="/packages/custom/fine-prints/public/assets/img/fourthLayout.png" style="width: 65px; height: 50px;margin-right: 20px; margin-bottom: 20px;">
                  </label>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="form-group">
          <div >
            <button ng-disabled="$parent.title === undefined || $parent.layoutData === undefined" ng-click="setStep(2)" type="submit" class="btn btn-info">Fill & Animate your layout &rarr;</button>
          </div>
        </div>
      </div>
      <div ng-switch-when="2">
        <div ng-switch="$parent.layoutData">
          <div ng-switch-when="FirstLayout">
            <div ng-include src="'packages/custom/fine-prints/public/views/dfplfi.html'">
          </div>
          <div ng-switch-when="SecondLayout">
            <div ng-include src="'packages/custom/fine-prints/public/views/dfplt.html'">
          </div>
          <div ng-switch-when="ThirdLayout">
            <div ng-include src="'packages/custom/fine-prints/public/views/dfplth.html'">
          </div>
          <div ng-switch-when="FourthLayout">
            <div ng-include src="'packages/custom/fine-prints/public/views/dfplf.html'">
          </div>
        </div>
      </div>
 </div>
    
    
  </form>
</section>
