<section  data-ng-controller="FinePrintsController" data-ng-init="findOne()">
  <span style="color: blue; margin-top: 10px">{{finePrint.created | date:'medium'}}</span> /
  <span style="color: blue; margin-top: 10px">{{finePrint.user.name}}</span>
  <h2 style="color: black; margin-top: 0" >{{finePrint.title}}</h2>
  <div data-ng-if="hasAuthorization(finePrint)">
    <a style="color: black" class="btn" href="/#!/finePrint/{{finePrint._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a style="color: black" class="btn" data-ng-click="remove(finePrint);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</section>
