.landing{
    background: white;
    position: fixed;
    padding: 0;
    height: 75%;
}
.buttonAuthSelect {
    margin: 5px 5px -4px 5px;
    text-align: center; 
    width: 100px; 
    background: cornflowerblue !important; 
    border-radius: 40px;
    font-size: 15px;
}

.buttonSubAuthSelect {
    margin: 0 5px 0 5px;
    text-align: center; 
    width: 100px; 
    background: cornflowerblue !important; 
    border-radius: 40px;
    font-size: 15px;
}
.buttonSubAuthSelect:hover {
    /*border: 1px solid black;*/
    background: red !important; 
}
.buttonSelect:hover {
    /*border: 1px solid black;*/
    font-size: 20px;
}

.buttonSelect {
    margin: 5px; 
    text-align: center; 
    width: 110px; 
    background: cornflowerblue; 
    border-radius: 40px;
    font-size: 15px;
}

.buttonItemSelect {
    margin: 5px; 
    text-align: center; 
    width: 250px; 
    background: cornflowerblue; 
    border-radius: 40px;
    font-size: 15px;
}
.buttonItemSelect:hover {
    /*border: 1px solid black;*/
    font-size: 20px;
}

.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}
.page-header .navbar-nav {
    float: right;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.page-header > div > div, .page-header > div > ul {
    display: inline-block;
}
.text-edit {
    padding: 13px 0 0 0;
}
.account {
    text-align:right;
}
.account > div, .account > ul {
    text-align: left;
}
.navbar .nav > li > a.brand {
    padding-left: 20px;
    margin-left: 0
}
.content {
    margin-top: 70px;
    width: 100%
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	background: #4e5d6c;
	-webkit-box-shadow: 0 8px 6px 6px black;
	-moz-box-shadow: 0 8px 6px 6px black;
	box-shadow: 0 8px 6px 6px black
}
footer p {
	padding: 5px 0 12px 10px
}

.featuredpic img{
  width:510px;
}
/*.ng-invalid.ng-dirty{*/
    /*border-color:#FA787E;*/
/*}*/
/*.ng-valid.ng-dirty{*/
    /*border-color:#78FA89;*/
/*}*/
